.postCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
}

.postCard a {
    text-decoration: none;
    color: #0D21A1;
    font-family: 'Montserrat', sans-serif;
}

.postCard h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

/* .postCard h1, .postCard h3 {
    font-family: 'Montserrat', sans-serif;
}

.postCard h1 {
    font-size: 1.6rem;
    color: #0D21A1;
}

.info {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.info h3 {
    font-size: 14px;
    font-weight: normal;
    margin-right: 15px;
}

.info img {
    height: 20px;
    margin-right: 3px;
}

.author {
    display: none;
} */

@media only screen and (max-width: 1250px) {
}

@media only screen and (max-width: 750px) {
    .postCard {
        padding: 5px
    }

    .postCard h1 {
        font-size: 1.3rem;
    }
}
