.post {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.post h1 {
    color: #0d21a1;
}

.post a {
    color: #0d21a1;
}

.featureImage {
    max-width: 800px;
    display: block;
    margin: 10px auto;
    width: 80%;
}

.postContent ul {
    padding-left: 2rem;
}

.postContent ol {
    padding-left: 2rem;
}

.postContent h2 {
    margin-top: 30px;
}

.postContent h3 {
    margin-top: 15px;
}

.postContent p {
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 20px;
}

.postContent img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.postContent table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.postContent table thead tr {
    background-color: #0d21a1;
    color: #ffffff;
    text-align: left;
}

.postContent table th,
.postContent table td {
    padding: 12px 15px;
}

.postContent table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.postContent table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.postContent table tbody tr:last-of-type {
    border-bottom: 2px solid #0d21a1;
}

@media only screen and (max-width: 1500px) {
    .post {
        width: 75%;
    }
    
}


@media only screen and (max-width: 1250px) {
    .post {
        width: 75%;
    }

    .postContent img {
        width: 70%;
    }

    .featureImage {
        max-width: 500px;
    }
}

@media only screen and (max-width: 1000px) {
    .postContent img {
        width: 80%;
    }
}

@media only screen and (max-width: 750px) {
    .post {
        width: 100%;
    }

    .post h1 {
        font-size: 1.75rem;
    }

    .postContent img {
        width: 95%;
    }

    .postContent table {
        margin: 10px 0;
        font-size: 0.8em;
    }

    .postContent h2 {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .postContent table {
        display: block;
        table-layout: fixed;
        overflow-x: auto;
        white-space: nowrap;
    }
}

