.about ul {
    list-style: none;
}

.about span {
    font-weight: bold;
    color: #0D21A1;
}

.about {
    width: 75%;
}

.aboutSocial {
    height: 50px;
    margin: 15px 10px 0px 0px
}

.about a {
    text-decoration: none;
}

.disclaimer {
    padding-top: 100px;
    font-size: 0.8rem;
    font-weight: bold;
}

.about p {
    margin-top: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 1.45;
    margin-bottom: 20px;
}

.quot1 {
    margin-top: 1rem;
    height: 50px;
    opacity: 0.3;
    text-align: left;
}

.quot2 {
    height: 50px;
    display: block;
    margin: 0.5rem 0 0 auto;
    opacity: 0.3;
    transform: scaleX(-1) scaleY(-1);
}

.sig {
    margin-top: 2rem;
    text-align: right;
}

@media only screen and (max-width: 1250px) {
    .about {
        width: 85%;
    }
}


@media only screen and (max-width: 750px) {
    .about {
        width: 100%;
    }

    .about p {
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 1.45;
    }

    .sig {
        display: block;
        /* margin-top: 3rem; */
        text-align: right;
        margin: 2rem 0 0 auto;
    }

    .quot1, .quot2 {
        height: 30px;
    }
}
