.recent {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 0px;
}

/* @media only screen and (max-width: 750px) {
    .recent h1 {
        margin-top: 15px;
    }
} */
