.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin: 30px 0;
}

.welcome h1 {
    color: #0D21A1;
    font-size: 60px;
}


.welcome h3 {
    text-transform: uppercase;
    width: 40%;
    max-width: 525px;
}

.name {
    line-height: 1.0;
}


.socials img {
    height: 40px;
    margin: 15px 10px 0px 0px
}

@media only screen and (max-width: 1250px) {
    .welcome h3 {
        width: 80%;
        font-size: 18px;
    }

    .welcome h1 {
        font-size: 55px;
        width: 50%;
    }

    .welcome {
        height: 270px;
        margin: 15px 0;
    }
}

@media only screen and (max-width: 750px) {
    .welcome h3 {
        width: 80%;
        font-size: 15px;
    }

    .welcome h1 {
        font-size: 50px;
    }

    .welcome {
        height: 250px;
        margin: 0;
    }
}